<nav>
    <ul>

        <li>
            <a href="{{ path('homepage') }}">Page d'accueil</a>
        </li>
        <li><a href="{{ path('lesson') }}">Voir les leçons</a></li>
        <li><a href="{{ path('grade') }}">Voir les notes</a></li>
    </ul>
</nav>